table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    }
    
    td, th {
    border: 3px solid rgb(21, 131, 21);
    text-align: left;
    padding: 8px;
    }
    
    tr:nth-child(even) {
    background-color: lightgreen;
    }

    th{
        background-color: yellowgreen;
        }
